body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

footer {
    text-align: center;
    background-color: darkslategray;
    padding: 10px 30px;


}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    margin-left: 20px;

}

.half-width img {
    width: 70%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    font: 700;
}

.name-color {
    color: coral;
}

.contact-banner {
    background-image: url(images/middle\ bg.png);
}

.h1-aline {
    text-align: center;
}

.p-aline {
    word-break: break-all;
    width: 50%;
    padding-left: 300px;
}

.Receipies {
    width: 95%;
}

.recipies-items {

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 30px gray;
}

.recipies-items img {
    margin-right: 15%;
}

.online-information {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}